source https://nuget.org/api/v2

source \\hobel\nuget

nuget Rx-PlatformServices
nuget Aardvark.Base ~> 1.3.11
nuget Aardvark.Base.Essentials ~> 1.3.11
nuget Aardvark.Base.Incremental ~> 1.3.11
nuget OpenTK
nuget Newtonsoft.Json ~> 7.0.1