framework: netstandard2.0, net461, netcoreapp2.0
source https://api.nuget.org/v3/index.json
source https://vrvis.myget.org/F/aardvark_public/api/v3/index.json

nuget FSharp.Core               ~> 4.3.0

nuget Aardvark.Base             ~> 4.0.0
nuget Aardvark.Base.FSharp      ~> 4.0.0
nuget Aardvark.Base.Incremental ~> 4.0.0

nuget FSharp.Compiler.Service   ~> 22.0.3
nuget FsPickler                 ~> 5.2.0

nuget NUnit                     ~> 3.9.0
nuget FsUnit                    ~> 3.1.0

group Build
framework: net45
content: none
source https://api.nuget.org/v3/index.json
source https://vrvis.myget.org/F/aardvark_public/api/v3/index.json
github aardvark-platform/aardvark.fake:v4
