type project
id FShade.Core
authors Georg Haaser
description
    F# embedded shaders
files
    ..\..\..\bin\Release\FShade.Compiler.dll ==> lib\net45
    ..\..\..\bin\Release\FShade.Compiler.pdb ==> lib\net45
    ..\..\..\bin\Release\FShade.Compiler.xml ==> lib\net45
    ..\..\..\bin\Release\FShade.dll ==> lib\net45
    ..\..\..\bin\Release\FShade.pdb ==> lib\net45
    ..\..\..\bin\Release\FShade.xml ==> lib\net45