type project
id FShade.GLSL
authors Georg Haaser
description
    F# embedded shaders
files
    ..\..\..\bin\Release\FShade.GLSL.dll ==> lib\net45
    ..\..\..\bin\Release\FShade.GLSL.pdb ==> lib\net45