type project
id FShade.Debug
authors Georg Haaser
projectUrl https://fshade.org
licenseUrl http://www.apache.org/licenses/LICENSE-2.0.txt
repositoryType git
repositoryUrl https://github.com/krauthaufen/FShade
description
    Debugger and on-the-fly editor for FShade shaders
include-pdbs true